
/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
}

.navbar-brand {
    font-weight: 500;
    color: #d63544;
    font-size: 1.5em;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-nav .nav-item .nav-link {
    color: #555;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #d63544;
}

.navbar-nav .nav-item .dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item .dropdown-item {
    color: #333;
}

.navbar-nav .nav-item .dropdown-item:hover,
.navbar-nav .nav-item .dropdown-item:focus {
    background-color: #f1f1f1;
    color: #555;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

/* Jumbotron */
.jumbotron {
    background-image: url('https://picsum.photos/1500/800');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.jumbotron h1 {
    font-weight: 500;
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.jumbotron p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Buttons */
.btn-primary {
    background-color: #d63544;
    border-color: #d63544;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #c02f3d;
    border-color: #c02f3d;
    transform: scale(1.05);
}

/* Sections */
.section-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    color: #d63544;
}

/* Category Cards */
.category-card {
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.category-card .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category-card .card-body {
    padding: 20px;
}

.category-card .card-title {
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.category-card .card-text {
    color: #666;
}

.category-card .btn {
    background-color: #d63544;
    color: #fff;
    border-radius: 0;
    transition: all 0.3s ease;
}

.category-card .btn:hover {
    background-color: #c02f3d;
}
.blog {
    overflow-x: hidden;
  
    }
    
    .blog .row {
    display: flex;
    flex-wrap: nowrap;
    }
    
    .blog .col-md-4 {
    flex: 0 0 auto;
    margin-right: 15px;
    }
    
    .blog .col-md-4:last-child {
    margin-right: 0;
    }
    
    .blog-card {
    width: 100%;
    margin-bottom: 20px;
    }
